# /etc/ssh/sshd_config   当前文件路径
# shell> man sshd_config

# 修改默认端口，可以减少很多自动化攻击
#Port 22
Port 46530

# 只允许指定 group 下的用户登陆，不能配置 group id
AllowGroups groupNamePattern

# 指定 身份认证 结束后，使用 shell> chroot 到指定的 path 或 dir
# session 启动时，检查指定 path 或 dir 的权限为 755
# @trap 
#   当需要支持 交互式SSH 登陆时，指定的 path 必须包含必要的文件，例如: /bin/sh, /dev/null, /dev/zero, /dev/stdin, /dev/stdout, /dev/stderr, /dev/tty
#   当需要支持 SFTP 登陆时，一般情况下是不需要的，但是有些系统需要 /dev/log 文件存在
# @trap 目录权限设置要遵循2点：
#   ChrootDirectory 设置的目录权限及其所有的上级文件夹权限，属主和属组必须是 root；
#   ChrootDirectory 设置的目录权限及其所有的上级文件夹权限，只有属主能拥有写权限，权限最大设置只能是755。
ChrootDirectory /xxx/xxx




# 配置外部子系统（例如文件传输守护程序）。参数可以是 子系统名称 或 执行子系统请求的命令（带有可选参数）。
# 命令 sftp-server 实现 SFTP 文件传输子系统。
# 命令 internal-sftp 实现了一个 on-process(进程内) SFTP 服务器，这可以简化使用 ChrootDirectory 的配置，以在客户端上强制使用不同的文件系统根。
# 默认情况下没有定义子系统。
# 格式 Subsystem subsysName cmd args
#Subsystem      sftp    /usr/libexec/openssh/sftp-server        # 注释掉这行，这行表示所有可使用 ssh 的用户都可使用 SFTP
#                                                               # 但是这种方式有一个缺陷，就是用户在 SFTP 软件里面可以 cd / 从而看到系统所有文件
Subsystem       sftp    internal-sftp           # 指定使用 sftp 服务使用系统自带的 internal-sftp，如果不添加，用户无法通过 sftp 登录。


# 当当前 Match line 的条件匹配时，后续配置的所有 keyword 都是用来覆盖全局配置的，直到下一个 Match line 或者文件结束
# 所以该 keyword 一般配置在文件尾，
# 如果一个 Match 块中存在多个相同的 keyword，那么第一个生效
# 可用的 criteria:  User, Group, Host, LocalAddress, LocalPort, Address
# 
Match Group sftp
    keyword1 ...
    keyword2 ...
    
Match User minisyc      # 新的 Match Block。匹配用户，如果要匹配多个组，多个组之间用逗号分割
    X11Forwarding no                                    # 这两行，如果不希望该用户能使用端口转发的话就加上，否则删掉
    AllowTcpForwarding no
    PermitTTY no
    ForceCommand internal-sftp                          # 指定 sftp 命令
    ChrootDirectory /root/k8s/outer/self/minio
    

